<div id='main' class='row'>
  <div class='col-md-8 col-md-offset-2'>

    <div class='page-header'>
      <h1>Manage Account</h1>
    </div>

    <%= form_for @user, url: user_registration_path, method: :put, html: { class: 'form-horizontal', role: 'form' } do |f| %>

      <div class="form-group">
        <%= f.label :email, class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <label class='col-sm-2 control-label'>New password</label>
        <div class="col-sm-4">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>
        <div class='col-sm-6'>          
          <span class="help-block">leave blank if you don't want to change it</span>
        </div>
      </div>

      <div class="form-group">
        <label class='col-sm-2 control-label'>Confirm new password</label>
        <div class="col-sm-4">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :current_password, class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
        </div>        
        <div class='col-sm-6'>          
          <span class="help-block">we need your current password to confirm your changes</span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-6 text-right">
          <%= link_to 'Cancel', alerts_path, class: 'btn btn-default' -%>
          <%= f.submit "Sign up", class: 'btn btn-primary' %>
        </div>
      </div>

    <% end %>

    <hr />

    <div class='page-header'>
      <h1>Cancel Account</h1>
    </div>

    <div class='col-md-offset-2 col-md-8 well text-center'>
      <br />
      <button class='btn btn-default btn-lg' data-toggle='modal' data-target='#confirm-account-cancel-modal'>Cancel my account</button>
      <h5>Note: All account data will be lost</h5>
    </div>

  </div>
</div>

<%# Account cancel confirm modal %>
<div id='confirm-account-cancel-modal' class="modal fade">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h3>Cancel account?<br />
        <small>(Action can't be undone)</small></h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= button_to "Cancel my account", user_registration_path, method: :delete, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
