<div id='main' class='row'>
  <div class='col-md-8 col-md-offset-2'>

    <div class='page-header'>
      <h1>Sign Up</h1>
    </div>

		<%= form_for :user, url: user_registration_path, html: { class: 'form-horizontal', role: 'form' }  do |f| %>

			<div class="form-group">
		  	<%= f.label :email, class: 'col-sm-2 control-label' %>
		  	<div class="col-sm-4">
		  		<%= f.email_field :email, autofocus: true, class: 'form-control' %>
	  		</div>
		  </div>

		  <div class="form-group">
		  	<%= f.label :password, class: 'col-sm-2 control-label' %>
		  	<div class="col-sm-4">
		    	<%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
	    	</div>
		  </div>

		  <div class="form-group">
		  	<%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
		  	<div class="col-sm-4">
		    	<%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
	    	</div>
		  </div>

		  <div class="form-group">
				<div id='user-links' class="col-sm-offset-2 col-sm-3">
					<%= render "devise/shared/links" %>
				</div>
		  	<div class="col-sm-1 text-right">
		  		<%= f.submit "Sign up", class: 'btn btn-primary' %>
		  	</div>
	  	</div>

		<% end %>

	</div>
</div>
