
$primary-colour: #000;//#001009;
$success: green;
$info: yellow;
$warning: orange;
$danger: red;

$gray-darker:            lighten($primary-colour, 13.5%);
$gray-dark:              lighten($primary-colour, 20%);
$gray:                   lighten($primary-colour, 33.5%);
$gray-light:             lighten($primary-colour, 46.7%);
$gray-lighter:           lighten($primary-colour, 93%);

$brand-primary:         $primary-colour;
$brand-success:         $success;
$brand-info:            $info;
$brand-warning:         $warning;
$brand-danger:          $danger;

$body-bg:               lighten($primary-colour, 99%); // Background color for `<body>`.
$text-color:            $gray-dark; // Global text color on `<body>`.
$link-color:            $brand-primary; // Global textual link color.
$link-hover-color:      darken($link-color, 15%); // Link hover color set via `darken()` function.