
$pin-brown: #8c4646;
$pin-red: #d96459;
$pin-orange: #f2ae72;
$pin-yellow: #f2e394;
$pin-green: #588c73;

$primary-colour: $pin-orange;
$info: $pin-yellow;
$danger: $pin-red;

$gray-darker:            lighten($primary-colour, 13.5%);
$gray-dark:              lighten($primary-colour, 20%);
$gray:                   lighten($primary-colour, 33.5%);
$gray-light:             lighten($primary-colour, 46.7%);
$gray-lighter:           lighten($primary-colour, 93%);

$brand-primary:         $primary-colour;
$brand-info:         $info;
$brand-danger:          $danger;

$body-bg:               #fff; // Background color for `<body>`.
$text-color:            $gray-dark; // Global text color on `<body>`.
$link-color:            $brand-primary; // Global textual link color.
$link-hover-color:      darken($link-color, 15%); // Link hover color set via `darken()` function.