<%= form_for :user, url: user_registration_path, html: { class: 'form-inline inline-sign-up', role: 'form' } do |f| -%>

  <div class="form-group">
  	<%= f.label :email, class: 'sr-only' %>
  	<%= f.email_field :email, class: 'form-control input-lg', placeholder: 'Email Address' -%>
  </div>

  <div class="form-group">
  	<%= f.label :password, class: 'sr-only' %>
  	<%= f.password_field :password, class: 'form-control input-lg', placeholder: 'Password' -%>
  </div>

  <%= f.submit 'Sign Up', class: 'btn btn-lg btn-default' -%>
  
<% end %>