<div id='main' class='row'>
  <div class='col-md-8 col-md-offset-2'>

    <div class='page-header'>
      <h1>Password Change</h1>
    </div>

		<%= form_for :user, url: user_password_path, method: :put, html: { class: 'form-horizontal', role: 'form' } do |f| %>

		  <%= f.hidden_field :reset_password_token %>

		  <div class="form-group">
		  	<%= f.label :password, class: 'col-sm-2 control-label' %>
		  	<div class="col-sm-4">
		    	<%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
	    	</div>
		  </div>

		  <div class="form-group">
		  	<%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
		  	<div class="col-sm-4">
		    	<%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
	    	</div>
		  </div>

		  <div class="form-group">
		  	<div class="col-sm-6 text-right">
		  		<%= f.submit "Change Password", class: 'btn btn-primary' %>
		  	</div>
	  	</div>
		<% end %>

		<div id='user-links' class="col-sm-offset-2 col-sm-3">
			<%= render "devise/shared/links" %>
		</div>

	</div>
</div>
