<div id='main' class='row'>
  <div class='col-md-8 col-md-offset-2'>

    <div class='page-header'>
      <h1>Password Reset</h1>
    </div>

		<%= form_for :user, url: user_password_path, method: :post, html: { class: 'form-horizontal', role: 'form' } do |f| %>

		  <div class="form-group">
		  	<%= f.label :email, class: 'col-sm-2 control-label' %>
		  	<div class="col-sm-4">
		  		<%= f.email_field :email, autofocus: true, class: 'form-control' %>
	  		</div>
		  </div>

		  <div class="form-group">
		  	<div class="col-sm-6 text-right">
		  		<%= f.submit "Send Reset Instructions", class: 'btn btn-primary' %>
		  	</div>
	  	</div>
		<% end %>

		<div id='user-links' class="col-sm-offset-2 col-sm-3">
			<%= render "devise/shared/links" %>
		</div>

	</div>
</div>
