<div class="container">
    <main class='jumbotron landing-jumbo'>
      <h1>Gumtree Alerts</h1>
      <span class='giant-logo'>!</span>
      <h2>
        A web app for creating
        <br />
        email alerts for
        <a href='//gumtree.com.au'>gumtree.com.au</a>
      </h2>
      <hr />
      <h3>Created for Ben Williams' CV</h3>      
      <hr />
      <p>
        Sign up with your own email address to create
        <br />
        email alerts which will be sent to your own address
      </p>
      <%= render 'users/inline_signup' -%>
      <hr />
      <p><em>or</em></p>
      <hr />
      <p>
        Log in (see top-right corner of screen) with the following credentials
        for a preview:
      </p>
      <p>
        email: <code>8enwilliams@gmail.com</code>
        <br />
        password: <code>password12</code>
      </p>
    </main>
</div>
