<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style='font-family: Verdana, Arial; font-size: 0.9em; color: #444; padding: 12px;'>

      <div style='margin: 0 0 32px 30px;'>
        <h2>Gumtree Alert - <%= @alert.name -%></h2>
        <h3><%= @alert.description -%></h3>
      </div>

      <table>
        <tbody>
          <% @alert.alert_items.each do |item| %>

            <tr>
              <td colspan='4'>
                <a style='display: inline-block; width: 99%; font-size: 1em; border: 1px solid gray; border-radius: 6px; padding: 12px 0 12px 15px; text-decoration: none; color: #000; background-color: #ddd; font-weight: bold;' href='<%= item.url -%>'><%= item.title -%></a>
              </td>
            </tr>

            <tr style='margin-bottom: 20px;'>
              <td style='padding: 12px 15px 12px 15px; text-align: center;'>
                <img src='<%= item.image_url -%>' style='width: 100px; min-height: 80px; padding: 3px; border: 1px solid #ddd; border-radius: 4px; background-color: #eee' />
              </td>

              <td style='padding: 12px 15px 12px 15px;'>
                <p style='max-height: 100px; overflow: hidden;'><%= item.description.html_safe -%></p>
              </td>

              <td style='padding: 12px;'>
                <p><strong><%= number_to_currency(item.price) -%></strong></p>
              </td>

              <td style='padding: 12px;'>
                <p><strong><%= item.area -%></strong></p>
                <p style='color: #666'><strong><%= item.town -%></strong></p>
                <p><%= item.date -%></p>
              </td>
            </tr>

          <% end %>
        </tbody>
      </table>

    </div>
  </body>
</html>
