<% @id_placeholder = 999 %>
<script type="text/javascript">
  var _alertIdPlaceholder = '<%= @id_placeholder -%>';
</script>

<div id='main' class='row'>
  <div class='col-md-8 col-md-offset-2'>

    <div class='page-header'>
      <h1>Active Alerts</h1>
    </div>

    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Keyword</th>
          <th>Category</th>
          <th>Min Price</th>
          <th>Max Price</th>
          <th>Offer Type</th>
          <th>Price Type</th>
          <th>Location</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @alerts.empty? %>
          <tr>
            <td colspan='9' class='text-center'>
              <h4 id='none-message'>[none]</h4>
            </td>
          </tr>
        <% end %>
        <% @alerts.each do |alert| %>
          <tr>
            <td><%= alert.name %></td>
            <td><%= alert.keyword %></td>
            <td><%= alert.category ? alert.category.name : '' %></td>
            <td><%= number_to_currency(alert.min_price) %></td>
            <td><%= number_to_currency(alert.max_price) %></td>
            <td><%= alert.offer_type_str %></td>
            <td><%= alert.price_type_str %></td>
            <td><%= alert.location_str %></td>
            <td>
              <button class='btn btn-default btn-sm delete-alert-button' data-alert-id='<%= alert.id -%>' data-alert-name='<%= alert.name -%>'>
                <span class='glyphicon glyphicon-remove'></span>
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <% if @user.can_add_alert? %>
          <tr>
            <td colspan='9'>
              <%= link_to new_alert_path, id: 'new-alert-button', class: 'btn btn-default' do -%>
                <span class='glyphicon glyphicon-plus'></span>
              <% end %>
            </tr>
          </tr>
        <% end %>
      </tfoot>
    </table>

    <h5 id='alert-count' class='text-right'>
      <%= "#{@alerts.count} of #{User::MAX_ALERTS} available alerts" -%>
    </h5>

    <h5>
      Hit the + button to create a new Gumtree alert, or the x button on a row
      to delete a search
    </h5>
    <br />
    <div class='well'>
      <h5>Note:</h5>
      <p>
        Gumtree will be checked every 10 minutes, and an email will only be sent
        if there are any new items.
      </p>
      <p>
        To cancel an alert, return to this page and delete the row.
      </p>
    </div>

  </div>
</div>

<%# Delete confirm modal %>
<div id='confirm-delete-modal' class="modal fade">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body text-center"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= button_to 'Ok', alert_path(@id_placeholder), method: :delete, id: 'modal-ok-button', class: 'btn btn-primary' -%>
      </div>
    </div>
  </div>
</div>