
<script type="text/javascript">
	var _categories = <%= Category.all.to_json.html_safe -%>;
</script>

<div id='main' class='row'>
  <div class='col-md-8 col-md-offset-2'>

  	<div class='page-header'>
			<h1>New Alert</h1>
		</div>

		<%= form_for @alert, html: { class: 'form-horizontal', role: 'form' } do |f| %>

		  <div class="form-group">
		    <%= f.label :name, class: 'col-sm-2 control-label' %>
		    <div class="col-sm-6">
		    	<%= f.text_field :name, class: 'form-control has-error', required: 'required' %>
	    	</div>
		  </div>

		  <div class="form-group">
		    <%= f.label :keyword, class: 'col-sm-2 control-label' %>
		    <div class="col-sm-6">
		    	<%= f.text_field :keyword, class: 'form-control' %>
	    	</div>
		  </div>

		  <hr />

		  <div class="form-group">
		    <label class='col-sm-2 control-label'>Category</label>
		    <div class="col-sm-3">
		    	<select id='parent-category' class='form-control'></select>
	    	</div>
		    <div class="col-sm-3">
		    	<%= f.select :category_id, [], {}, { id: 'child-category', class: 'form-control' } %>
	    	</div>
		  </div>

		  <hr />

		  <div class="form-group">
		    <label class='col-sm-2 control-label'>Location</label>
		    <div class="col-sm-3">
		    	<select id='state-select' class='form-control'>
		    		<option value=''>All</option>
		    		<% Location.states.each do |state| %>
		    			<option value='<%= state.id -%>'><%= state.name -%></option>
		    		<% end %>
		    	</select>
	    	</div>	    	
		    <div class="col-sm-3">
	    		<%= f.select :radius, Location::RADIUS_KMS.collect {|r| [ "#{r}km", r ]}, { }, { class: 'form-control' } %>
		    </div>
		  </div>

		  <div class='form-group'>		  	
	    	<div class='col-sm-2 col-sm-offset-2'>	    		
		    	<select id='region-select' class='hidden form-control'></select>
	    	</div>
	    	<div class='col-sm-2'>	    		
		    	<select id='area-select' class='hidden form-control'></select>
	    	</div>
	    	<div class='col-sm-2'>	    		
		    	<select id='town-select' class='hidden form-control'></select>
	    	</div>
	    	<%= f.hidden_field :location_id, id: 'location-field' -%>
    	</div>

		  <hr />

		  <div class="form-group">
		    <label class='col-sm-2 control-label'>Price range</label>
		    <div class="col-sm-3">
		    	<div class='input-group'>
		    		<span class="input-group-addon">$</span>
		    		<%= f.text_field :min_price, class: 'form-control', placeholder: 'min' %>
	    		</div>
	    	</div>
		    <div class="col-sm-3">
		    	<div class='input-group'>
		    		<span class="input-group-addon">$</span>
		    		<%= f.text_field :max_price, class: 'form-control', placeholder: 'max' %>
	    		</div>
	    	</div>
		  </div>

		  <div class="form-group">
		    <%= f.label :offer_type, class: 'col-sm-2 control-label' %>
		    <div class="col-sm-6">
		    	<%= f.select :offer_type, Alert::OFFER_TYPES, { include_blank: 'All' }, { class: 'form-control' } %>
	    	</div>
		  </div>

		  <div class="form-group">
		    <%= f.label :price_type, class: 'col-sm-2 control-label' %>
		    <div class="col-sm-6">
		    	<%= f.select :price_type, Alert::PRICE_TYPES, { include_blank: 'All' }, { class: 'form-control' } %>
	    	</div>
		  </div>

		  <div class="form-group">
		  	<div class="col-sm-offset-2 col-sm-6 text-right">
			  	<%= link_to 'Cancel', alerts_path, class: 'btn btn-default' %>
			    <%= f.submit class: 'btn btn-primary' %>
		    </div>
		  </div>

		<% end %>

	</div>
</div>
