<div id='main' class='row'>
  <div class='col-md-8 col-md-offset-2'>

    <div class='page-header'>
      <h1>Log In</h1>
    </div>

		<%= form_for :user, url: new_user_session_path, html: { class: 'form-horizontal', role: 'form' }  do |f| %>

		  <div class="form-group">
		  	<%= f.label :email, class: 'col-sm-2 control-label' %>
		  	<div class="col-sm-4">
		  		<%= f.email_field :email, autofocus: true, class: 'form-control' %>
	  		</div>
		  </div>

		  <div class="form-group">
		  	<%= f.label :password, class: 'col-sm-2 control-label' %>
		  	<div class="col-sm-4">
		    	<%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
	    	</div>
		  </div>

		  <% if devise_mapping.rememberable? -%>
		    <div class="form-group">
		    	<%= f.label :remember_me, class: 'col-sm-2 control-label' %>
			  	<div class="col-sm-4">
			    	<%= f.check_box :remember_me, class: 'form-control' %>
		    	</div>
		    </div>		    
		  <% end -%>

		  <div class="form-group">
				<div id='user-links' class="col-sm-offset-2 col-sm-3">
					<%= render "devise/shared/links" %>
				</div>
		  	<div class="col-sm-1 text-right">
		  		<%= f.submit "Log in", class: 'btn btn-primary' %>
		  	</div>
	  	</div>

		<% end %>

	</div>
</div>
