
.table > tfoot > tr > td {
	padding: 0;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

#none-message {
	color: $gray-light;
}

.delete-alert-button {
	width: 100%;
}

#new-alert-button {
	width: 100%;
	border-radius: 0 0 10px 10px;
	border-top: none;
}

#alert-count {
	margin-right: 1%;
}
