@import "colour_schemes/black";
@import "bootstrap-sprockets";
@import "bootstrap";


/*
 * Variables
 */
$section-border-thickness: 2px;
$footer-height: 60px;

/*
 * App styles
 */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height + 12px;
}

.navbar {
	margin: 0;
	border-bottom: $section-border-thickness solid $gray-light;
    border-right: none;
    border-left: none;
    border-radius: 0;
}

.page-header {
	margin-top: 60px;
	margin-bottom: 80px;

	h1 {
		font-size: 30px;
	}
}

form.button_to {
	display: inline;

	div {
		display: inline;
	}
}

input[type="checkbox"].form-control {
	margin-left: 3px;
	box-shadow: none
}

#main {
  margin: 0;
}

.alert {
	margin: 0;
	border-radius: 0;
	font-weight: bold;

	ul {
		list-style: none;
		padding: 0;
	}
}

footer {
	border-top: $section-border-thickness solid lighten($gray-light, 45%);
	padding-top: 15px;
	font-weight: 400;
	color: lighten($gray-light, 15%);
	background-color: lighten($gray-light, 50%);
	position: absolute;
	width: 100%;
	height: $footer-height;
   	bottom: 0;
}


/*
 * Page styles
 */
@import "home";
@import "users";
@import "alerts";
