
// heading
#content.landing-jumbo {
	background-color: $gray-lighter;
	border-bottom: $section-border-thickness solid lighten($gray-light, 20%);
	padding: 50px 0 35px 0;
}

// sign up
.landing-jumbo {
	margin: 0;
	text-align: center;
	background-color: lighten($gray-lighter, 6%);
	border: none;
	padding: 90px 0 90px 0;

	input, button {
		margin: 0 8px 0 8px;
	}
}

// ! logo
.giant-logo {
	font-size: 110px;
	font-weight: 800;
	font-family: arial, sans-serif;
	border: 10px solid;
	border-radius: 18px;
	padding: 2px 40px 2px 40px;
}
