<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style='font-family: Verdana, Arial; font-size: 0.9em; color: #444; padding: 15px 12px 12px 12px;'>

      <h2>Gumtree Alerts</h2>

			<p>Hi <%= @resource.email %>,</p>

			<p>You can confirm your account email through the link below:</p>

			<%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), style: 'text-decoration: none; color: #000; font-weight: bold;' %>

    </div>
  </body>
</html>
