<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style='font-family: Verdana, Arial; font-size: 0.9em; color: #444; padding: 15px 12px 12px 12px;'>

      <h2>Gumtree Alerts</h2>

			<p>Hi <%= @resource.email %>,</p>

			<p>Someone has requested a password reset for your account. You can do this through the link below.</p>

			<%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), style: 'text-decoration: none; color: #000; font-weight: bold;' %>

			<p>If you didn't request the change, please ignore this email. Your password won't be updated until you follow the link above and create a new one.</p>

    </div>
  </body>
</html>
