<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style='font-family: Verdana, Arial; font-size: 0.9em; color: #444; padding: 15px 12px 12px 12px;'>

      <h2>Gumtree Alerts</h2>

			<p>Hi <%= @resource.email %>,</p>

			<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

			<p>Click the link below to unlock your account:</p>

			<%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token), style: 'text-decoration: none; color: #000; font-weight: bold;' %>

    </div>
  </body>
</html>
