<!DOCTYPE html>
<html>
<head>
  <title>Gumtree Alerts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>

	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">Gumtree Alerts</a>
	    </div>

	    <div class="collapse navbar-collapse" id="navbar-collapse">
	      <ul class="nav navbar-nav navbar-right">

	      	<% if current_user %>
		        <li class="dropdown">
		          <a href='#' class="dropdown-toggle" data-toggle="dropdown">
		          	<%= current_user.email -%>
		          	<span class="caret"></span>
		          </a>
		          <ul class="dropdown-menu" role="menu">
                    <li><%= link_to 'Manage Account', edit_user_registration_path -%></li>
		            <li class="divider"></li>
                    <li><%= link_to 'Log out', destroy_user_session_path, method: 'delete' -%></li>
		          </ul>
		        </li>

	        <% else %>
	        	<li><%= link_to 'Log In', new_user_session_path -%></li>
	        <% end %>

	      </ul>
	    </div>

	  </div>
	</nav>

	<%= yield %>


	<% if flash[:notice] %>
		<div id='flash-notice' class="alert alert-info alert-dismissible text-center fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
			<%= flash[:notice] -%>
		</div>
	<% end %>

	<% if flash[:alert] || devise_error_messages! %>
		<div id='flash-alert' class="alert alert-danger alert-dismissible text-center fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
			<%= flash[:alert] -%>
			<%= devise_error_messages! -%>
		</div>
	<% end %>

	<footer>
		<div class='text-right container'>© Ben Williams <%= Date.today.year -%></div>
	</footer>

</body>
</html>
